<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static 'js/lib/jquery.js' %}"></script>
    <script src="{% static 'js/lib/jquery-ui.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.js' %}"></script>
    <script src="{% static 'js/lib/jquery-ui.js' %}"></script>
    <link  rel="stylesheet" href="{% static 'css/lib/bootstrap.css' %}" >
    <link  rel="stylesheet" href="{% static 'css/navbar-style.css' %}" >
    <link rel="icon" href="{% static 'images/applicationIcon.png' %}">
    <meta charset="UTF-8">
    <title>Login | Village wise Survey 2023</title>
</head>
<body>
    {% include './navbar.html' %}
    <form class="centralized-form" method="post">
        <div style="font-size:2vw;"><b>Login</b></div>
        <table>
            <tr>
                <td>Username</td><td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>Password</td><td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td style="padding:2vw;" colspan="2">
                    <button type="Register" class="btn btn-default"><a href="/register">Register</a></button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
</body>
</html>